# Python virtual environments (NO se deben commitear)
.venv/
venv/
env/
.venv-*/

# Python cache
__pycache__/
*.pyc

# Datasets / artifacts / logs
dataset_raw/
*.tar.gz
dataset/
dataset_*/
artifacts_*/
training*.log